---
ircd: 
  client_encoding: utf-8
  port: 6667
  server_nick: xircd
  servername: xircd.local
# auth:
#   - mask: '*@*'
#     password: YOUR_OWN_PASSWORD
  ircd_option:
    no_nick_tweaks: 1
components:
  - module: Time
    nick: time
    interval: 1
  - module: RSS
    url: http://api.wassr.jp/public_timeline.rss
# - module: Twitter
#   screenname: jkljkl11
#   username: jkljkl11
#   password: jkljkl11
#   retry: 60
# - module: Wassr
#   username: user@gmail.com
#   password: pass
#   server: talk.google.com
#   port: 5222

